<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
CarHub 

</div>
<div>
    <form method="get" action="/create">
        <button type="submit">Crear usuario
    </form>
</div>
<div>
    <form method="get" action="/users">
        <button type="submit">Lista usuarios
    </form>
</div>
</body>
</html>