<!doctype html>
<html>
   <tbody>
    {% for user in users %}
    <tr>
       <td>{{ user['name'] }} </td>
       <td>{{ user['password'] }}</td>
       <td>{{ user['email'] }}</td>
     
      <td><div>
         <form method="get" action="/delete/{{ user['_id'] }}">
             <button type="submit">DELETE
            </form>
            <form method="get" action="/edit/{{ user['_id'] }}">
               <button type="submit">EDIT
              </form>
     </div></td><br>
    </tr>
    {% endfor %}
   </body>
   
</html>
