Authlib==0.15.5
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
distlib==0.3.3
dnspython==2.1.0
filelock==3.3.1
Flask==2.0.2
Flask-Cors==3.0.10
flask-googlemaps==0.4.1
Flask-PyMongo==2.3.0
ghp-import==2.0.2
google==3.0.0
gunicorn==20.1.0
htmlmin==0.1.12
idna==3.3
imgurpython==1.1.7
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.2
jsmin==3.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.3.0
packaging==21.3
paypalrestsdk==1.13.1
platformdirs==2.4.0
pycparser==2.21
Pygments==2.10.0
pymdown-extensions==9.1
pymongo==3.12.1
pyOpenSSL==21.0.0
pyparsing==3.0.6
python-dateutil==2.8.2
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.7
virtualenv==20.9.0
watchdog==2.1.6
webapp2==2.5.2
Werkzeug==2.0.2
zipp==3.6.0
