{% include '/navbar copy.html' %} 

      <!-- INTRO
================================================== -->
      <section id="home"
         style="padding: 160px; background-image: url(static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
         <div class="container">
            <div class="textwidget">
               <div class="contactstyle topform">
                  <div class="list-group">
                     {% for trayecto in trayectos %}
                     <a href="/buscar_trayecto_id/{{ trayecto['_id'] }}"
                        class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                           <h5 class="mb-1">{{ trayecto['origen'] }} ➜ {{ trayecto['destino'] }}</h5>
                           <p>
                           <h3 class="mb-1">{{ trayecto['precio'] }}€</h3>
                           </p>
                        </div>
                        <small>{{ trayecto['horasalida'] }}</small>
                        <small>
                           <p class="mb-1">Número de pasajeros: {{ trayecto['numeropasajeros'] }}</p>
                        </small>
                     </a>
                     {% endfor %}
                  </div>
                  <nav aria-label="Page navigation example" style="margin-left: 25%;">
                     <ul class="pagination">
                        <li class="page-item">
                           <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                           </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                           <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                           </a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </section>



      <!-- SCRIPTS
================================================== -->
      <script src="static/assets/js/jquery.js"></script>
      <script src="static/assets/js/plugins.js"></script>
      <script src="static/contact/topvalidate.js"></script>
      <script src="static/contact/bottomvalidate.js"></script>


   </body>

</div>




</html>