{% extends '/navbar.html' %}

{% block head %}
{{ super() }}
<title>Chat</title>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block body %}
<section id="chat"
    style="padding:160px 0;background-image: url(../../../static/images/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;"
    class="min-vh-100">
    <div class="container">
        <header class="mb-auto bg-light bg-opacity-50 rounded">
            <div class="card-header msg_head">
                <a href="/perfilId/{{ id2 }}" class="nav-link">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{{ profile_picture }}" class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span class="fs-4 text-dark">{{ contact }}</span>
                            <p class="text-secundary">
                            <p id="total" name="total" class="d-inline">{{ len_mensajes }}</p> mensajes</p>
                        </div>
                    </div>
                </a>
            </div>
        </header>
        <article id="chatBox" name="chatBox" class="container shadow p-3 mb-2 bg-transparent rounded overflow-auto"
            style="min-height: 500px;max-height: 200px; max-width: 100%">
            {% for m in listMensajes %}
            {% if m['idUser'] == id %} {# Mensaje del usuario #}
            <div class="row justify-content-end">
                <div class="col-auto">
                    <div class="alert-success text-end px-5 py-2 ms-5 mb-4">
                        <p class="text-break">
                            {{ m['contenido'] }}
                        </p>
                        <span>{{ m['fecha']|datetime }}</span>
                    </div>
                </div>
            </div>
            {% else %} {# Mensaje del interlocutor #}
            <div class="row ">
                <div class="col-auto justify-content-start">
                    <div class="alert-dark text-start mb-4 px-5 py-2 me-5">
                        <p class="text-break">
                            {{ m['contenido'] }}
                        </p>
                        <span class="">{{ m['fecha']|datetime }}</span>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </article>
        <div class="container">
            <div class="form">
                <input id="contenido" name="contenido" type="text" class="form-control" placeholder="Enviar un mensaje"
                    required />
                <button id="enviar" name="enviar" class="btn btn-primary">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</section>
<script src="/static/js/luxon.js"></script>
<script>
    var intervalo = 5000;
    var currentTotal = "{{ len_mensajes }}";
    var DateTime = luxon.DateTime;
    function enviarMensaje() {
        const http = new XMLHttpRequest();
        const url = "/enviarMensaje";
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("contenido").value = "";
                recibirMensajes();
            }
        }
        http.open('POST', url);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var id = "{{ id_conversacion }}";
        var contenido = document.getElementById("contenido").value;
        http.send("contenido=" + contenido + "&id_conversacion=" + id);
    }
    function recibirMensajes() {
        const http = new XMLHttpRequest();
        const url = "/recibirMensajes";
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText.trim() !== "") {
                    var node = document.createElement("div");
                    node.innerHTML = this.response;
                    document.getElementById("chatBox").appendChild(node);
                    document.getElementById("total").textContent = document.getElementById("chatBox").childElementCount;
                    currentTotal = document.getElementById("chatBox").childElementCount;
                }
            }
        }
        http.open('POST', url);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var id = "{{ id_conversacion }}";
        http.send("currentTotal=" + currentTotal + "&id_conversacion=" + id);
    }
    document.getElementById("enviar").addEventListener("click", function () {
        enviarMensaje();
    })
    document.addEventListener("DOMContentLoaded", function () {
        setInterval(recibirMensajes, intervalo);
    })
</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}