{% extends '/navbar.html' %}
{% block head %}
{{ super() }}
<title>Login</title>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="page-loader">
   <img src="static/assets/img/loader.gif" alt="loader">
</div>


<!-- INTRO
================================================== -->
<section id="home"
   style="padding:160px 0;background-image: url(static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
   <div class="container">
      <div class="textwidget">
         <h1 class="toptitle" style="color:rgb(10, 124, 0);">Inicia sesión<br /><br /><i
               class="fa fa-star roundicon"></i>
         </h1>

         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}

         <div class="contactstyle topform">
            <form method="post" action="/login">
               <div class="form">
                  <input type="text" name="correousername" id="correousername"
                     placeholder="Correo electrónico o username " required>
                  <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña " required>
                  <input type="submit" id="iniciasesion" class="clearfix btn" value="¡Inicia sesión!">
               </div>
               <div>
                  <a href="/registro">¿No tienes una cuenta? Regístrate</a>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>

<!-- SCRIPTS
================================================== -->
<script src="static/assets/js/jquery.js"></script>
<script src="static/assets/js/plugins.js"></script>
<script src="static/contact/topvalidate.js"></script>
<script src="static/contact/bottomvalidate.js"></script>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}