{% extends '/navbar.html' %}
{% block head %}
{{ super() }}
<title>Busqueda</title>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}


<section id="login"
   style="padding:50px 0;background-image: url(../static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;" class="min-vh-100">
   <div class="container">
      <div class="textwidget">
         <h1 class="toptitle" style="color:#20b2aa; -webkit-text-stroke: 1px black;">Inicia sesión<br /><br /><i
               class="fa fa-star roundicon"></i>
         </h1>


         <div class="contactstyle topform">
            <form method="post" action="/login">
               <div class="form">
                  <input type="text" name="correousername" id="correousername"
                     placeholder="Correo electrónico o username " value="{{correousername}}" required>
                  <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña " value="{{contrasena}}" required>
                  <button type="submit" value="¡Inicia sesión!" class="btn btn-primary btn-lg btn-block" style="width: 100%;">
                     ¡Inicia sesión!
                  </button>
                  <p style="color:#FF0000";>{{error}}</p>
               </div>
               <div>
                  <a href="/registro">¿No tienes una cuenta? Regístrate</a>
               </div>
               
               <br>
                  <a  href="/logingoogle" >
                     <center>
                        <img src="/static/images/oauth.png" class="bi me-2" alt="logo" width="150" height="62">
                     </center>
                  </a>
            </form>
         </div>
      </div>
   </div>
</section>

<!-- SCRIPTS
================================================== -->



{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}