{% extends '/navbar.html' %}
{% block head %}
{{ super() }}
<title>Mis Conversaciones</title>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="list-group">
    <header class="container">
        <h1 class="display-1">Mis Conversaciones</h1>
        <hr class="my-3">
    </header>
    <article class="container">
        <div class="list-group">
            {% for c in listConversaciones %}
            <a href="/buscar_conversacion_id/{{ c['_id'] }}" class="list-group-item list-group-item-action mx-auto" style="max-width: 400px;">
                <div class="d-flex justify-content-start">
                    <div class="img_cont">
                        <img src="{{ c['profile_picture'] }}" class="rounded-circle user_img">
                    </div>
                    <div class="mx-3 my-auto">
                        <span class="fs-3 fw-light text-truncate">{{ c['username'] }}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </article>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}