<!DOCTYPE html>
<html>

<head>
    <title>Mis Conversaciones</title>
</head>

<body>
    {% include "/navbar.html" %}
    <!-- Incluye la cabecera -->
    <section id="home"
        style="padding: 160px; background-image: url(static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
        <div class="container">
            <div class="textwidget">
                <div class="contactstyle topform">
                    <div class="list-group">

                        <header class="container">
                            <h1 class="display-1">Mis Conversaciones</h1>
                            <hr class="my-3">
                        </header>
                        <article class="container">
                            <div class="list-group">
                                {% for c in conversaciones %}
                                <a href="/buscar_conversacion_id/{{ c['_id'] }}"
                                    class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h2 class="mb-1"></h2>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>