{% extends '/navbar.html' %}
{% block head %}
{{ super() }}
<title>Mis Viajes Creados</title>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}
<style type="text/css">
   .isDisabled {
      color: currentColor;
      pointer-events: none;
      opacity: 0.5;
      text-decoration: none;
   }

   div {
      position: relative;
   }

   .pagination {
      width: 750px;
      margin: 0 auto;
      list-style: none;
      width: 50%;
   }

   .pagination li {
      float: left;
   }

   .pagination a {
      display: block;
      text-align: center;
      text-decoration: none;
   }
</style>
<!-- INTRO
================================================== -->
<section id="misViajesCreados"
   style="padding: 160px; background-image: url(../../static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;" class="min-vh-100">
   <div class="container">
      <div class="textwidget">
         <div class="contactstyle topform">
            <div class="list-group">
               {% for trayecto in trayectos %}
               <a href="/trayecto/{{ trayecto['_id'] }}"
                  class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                     <h5 class="mb-1">{{ trayecto['origenstr'] }} ➜ {{ trayecto['destinostr'] }}</h5>
                     <p>
                     <h3 class="mb-1">{{ trayecto['precio'] }}€</h3>
                     </p>
                  </div>
                  <small>{{ trayecto['horasalida'].strftime('A las %H:%M el %d/%m/%Y') }}</small>
                  <small>
                     <p class="mb-1">Número de pasajeros: {{ trayecto['numeropasajeros'] }}</p>
                  </small>
               </a>
               {% endfor %}
            </div>
            {% if datos['encontrado'] %}
            <nav aria-label="Page navigation example" style="margin-left: 25%;">
               <ul class="pagination">
                  <li class="page-item">

                     <a class="page-link {% if datos['pagina'] <= 1 %} isDisabled {% endif %}"
                        href="{{ datos['pagina'] - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                     </a>

                  </li>
                  {% if datos['pagina'] > 1 %}
                  <li class="page-item"><a class="page-link" href="{{ datos['pagina'] - 1 }}">{{ datos['pagina'] - 1
                        }}</a></li>
                  {% endif %}
                  <li class="page-item active"><a class="page-link" href="{{ datos['pagina'] }}">{{ datos['pagina']
                        }}</a></li>
                  <li class="page-item"><a
                        class="page-link {% if datos['ultimaPag'] + 1 <= datos['pagina'] %} isDisabled {% endif %}"
                        href="{{ datos['pagina'] + 1 }}">{{ datos['pagina'] + 1 }}</a></li>
                  <li class="page-item">
                     <a class="page-link {% if datos['ultimaPag'] + 1 <= datos['pagina'] %} isDisabled {% endif %}"
                        href="{{ datos['pagina'] + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                     </a>

                  </li>
               </ul>
            </nav>
            {% else %}
            <h2>De momento no tienes conducciones</h2>
            {% endif %}
         </div>
      </div>
   </div>
</section>



<!-- SCRIPTS
================================================== -->
<script src="static/assets/js/jquery.js"></script>
<script src="static/assets/js/plugins.js"></script>
<script src="static/contact/topvalidate.js"></script>
<script src="static/contact/bottomvalidate.js"></script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}