{% extends 'navbar.html' %}

{% block head %}
{{ super() }}
<title>Perfil</title>
<meta name="referrer" content="no-referrer">
<style>
   .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 450px;
      margin: auto;
      text-align: center;
      font-family: arial;
      opacity: 100;
      background-color: #FFFFFF;
   }

   .title {
      color: grey;
      font-size: 18px;
   }

   rojo {
      color: red;
    }

   button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #1bb9a0;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
   }

   a {
      text-decoration: none;
      
      color: black;
   }

   button:hover,
   a:hover {
      opacity: 0.7;
   }

   .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}

<!-- INTRO
================================================== -->
<section id="perfilEditar"
   style="padding:50px 0;background-image: url(../static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;" class="min-vh-100">
   <h1 class="toptitle" style="color:#20b2aa; -webkit-text-stroke: 1px black;">Editar Perfil<br /><br /><i
      class="fa fa-car roundicon"></i>
   </h1> 
   <div class="card">
      <br>
      <img src="{{usuario['foto']}}" class="center" width="200" height="200" alt="fotoperfil" style="border-radius: 50%">
      <br>
      <div class="contactstyle topform">
         <form name="perfilEditar" method="post" action="/editarperfil" enctype="multipart/form-data">
            <div class="form">
               <label for="txt">Nombre</label>
               <input type="text" name="nombre" id="nombre" value="{{usuario['nombre']}}" required>
               <label for="txt">Apellidos</label>
               <input type="text" name="apellidos" id="apellidos" value="{{usuario['apellidos']}}" required>
               <label for="txt">Correo</label>
               <input type="email" name="correo" id="correo" value="{{usuario['correo']}}" required>
               <label for="txt">DNI</label> <rojo>*</rojo>
               <input type="text" name="dni" id="dni" value="{{usuario['dni']}}" required> 
               <label for="txt">Teléfono</label> <rojo>*</rojo>
               <input type="number" name="telefono" id="telefono" value="{{usuario['telefono']}}" required>
               <label for="txt">Foto</label>
               <input type="file" name="foto" id="foto">
               <label for="txt">Coche</label> <rojo>*</rojo>
               <input type="text" name="coche" id="coche" value="{{usuario['coche']}}">
               <label for="txt">Paypal</label> <rojo>*</rojo>
               <input type="text" name="paypal" id="paypal" value="{{usuario['paypal']}}">
               <label for="txt">Contraseña</label>
               <input type="password" name="contrasena" id="contrasena" value=""minlength="6">
               <label for="txt">Repita contraseña</label>
               <input type="password" name="contrasenarep" id="contrasenarep" value="" minlength="6">
               <rojo>(*) Campos necesarios para acceder a viajes</rojo>
               <p style="color:#FF0000";>{{error}}</p>
               <button type="submit" value="Guardar cambios" class="btn btn-primary btn-lg btn-block" style="width: 100%;">
                  Guardar cambios
               </button>
            </div>
         </form>
      </div>
   </div>
</section>

<!-- SCRIPTS
================================================== -->
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}