{% extends '/navbar.html' %}
{% block head %}
{{ super() }}
<title>Perfil</title>
<style>
   .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 450px;
      margin: auto;
      text-align: center;
      font-family: arial;
      opacity: 100;
      background-color: #FFFFFF;
   }

   .title {
      color: grey;
      font-size: 18px;
   }

   button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #1bb9a0;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
   }

   .button3 {
      background-color: #f44336;
   }

   /* Red */

   a {
      text-decoration: none;
      
      color: black;
   }

   button:hover,
   a:hover {
      opacity: 0.7;
   }

   xd {
      color: rgb(10, 124, 0);
      opacity: 0.5;
   }

   .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}

<!-- INTRO
================================================== -->
<section id="perfil"
   style="padding:50px 0;background-image: url(../static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;" class="min-vh-100">
   
   <h1 class="toptitle" style="color:#20b2aa; -webkit-text-stroke: 1px black;">Mi Perfil<br /><br /><i
      class="fa fa-car roundicon"></i>
   </h1> 
      <div class="card">
         <br>
         <img src={{usuario['foto']}} class="center" width="200" height="200" alt="fotoperfil" style="border-radius: 50%">
         <br>
         <h1>{{usuario['nombre']}} {{ usuario['apellidos'] }} </h1>
         <p class="title">@{{ usuario['username'] }}</p>
         <p>
            <xd> Correo:</xd> {{ usuario['correo'] }}<br>
            <xd> Teléfono:</xd> {{ usuario['telefono'] }}<br>
            <xd> DNI:</xd> {{ usuario['dni'] }}<br>
            <xd> Coche:</xd> {{ usuario['coche'] }}<br>
            <xd> ID Vendedor Paypal:</xd> {{ usuario['paypal'] }}<br>
         </p>
         <p><a href="/editarperfil">
            <button type="submit" value="¡Inicia sesión!" class="btn btn-primary btn-lg btn-block" style="width: 100%;">
               Editar perfil
            </button>
            <a href="/eliminarusuario">
               <button onclick="return confirm('¿Estás seguro de que deseas eliminar tu usuario?')" class="btn btn-primary btn-lg btn-block" style="width: 100%; background-color: #f44336;">Eliminar usuario</button>
            </a>

            

         </p>
      </div>

</section>

<!-- SCRIPTS
================================================== -->
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}