{% extends 'navbar.html' %}

{% block head %}
{{ super() }}
<title>Registro</title>
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}






<!-- INTRO
================================================== -->
<section id="home"
   style="padding:160px 0;background-image: url(static/assets/img/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">

   <div class="container">
      <div class="textwidget">
         <h1 class="toptitle" style="color:rgb(10, 124, 0);">Registro<br /><br /><i class="fa fa-star roundicon"></i>
         </h1>


         <div class="contactstyle topform">
            <form name="registro" method="post" action="/registro">
               <div class="form">
                  <input type="text" name="username" id="username" placeholder="Username " value="{{username}}" required>
                  <input type="text" name="nombre" id="nombre" placeholder="Nombre " value="{{nombre}}" required>
                  <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos " value="{{apellidos}}" required>
                  <input type="email" name="correo" id="correo" placeholder="Correo" value="{{correo}}" required>
                  <input type="text" name="dni" id="dni" placeholder="DNI" value="{{dni}}" required>
                  <input type="date" name="fechanacimiento" id="fechanacimiento" placeholder="Fecha de nacimiento" value="{{fechanacimiento}}"
                     required>
                  <input type="number" name="telefono" id="telefono" placeholder="Teléfono" value="{{telefono}}" required>
                  <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" minlength="6" value="{{contrasena}}"
                     required>
                  <input type="password" name="contrasenarep" id="contrasenarep"
                     placeholder="Vuelve a introducir la contraseña" minlength="6" value="{{contrasenarep}}" required>
                  <input type="submit" id="iniciasesion" class="clearfix btn" value="¡Regístrate!">
                  <p style="color:#FF0000";>{{error}}</p>
               </div>
               <div>
                  <a href="/login">¿Ya tienes una cuenta? Inicia sesión</a>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>

<!-- SCRIPTS
================================================== -->
<script src="static/assets/js/jquery.js"></script>
<script src="static/assets/js/plugins.js"></script>
<script src="static/contact/topvalidate.js"></script>
<script src="static/contact/bottomvalidate.js"></script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}