{% include '/navbar.html' %}
<!-- INTRO
         ================================================== -->
<!-- trayecto = json con toda la informacion de un trayecto-->

<section id="home"
   style="padding:160px 0;background-image: url(static/images/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
   <div class="container">
      <div class="textwidget">
         <h1 class="toptitle" style="color:rgb(10, 124, 0);">{{ trayecto['horasalida'] }}<br />{{ trayecto['origen'] }} ➜ {{
            trayecto['destino'] }} <br /><br /></h1>
         <div class="contactstyle topform">
            <div class="col">
               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">SALIDA:  </h3> {{ trayecto['origen'] }}
               </div>
               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">LLEGADA: </h3> {{ trayecto['destino'] }}
               </div>
               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">Duracion estimada: </h3> 
               </div>
               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">Precio: </h3><h3>{{ trayecto['precio'] }} €</h3>
               </div>

               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">Conductor: </h3> 
               </div>
               <a href="/perfilId/{{ conductor['_id'] }}"  class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="card card-body">
                     <p>{{ conductor['nombre'] }} {{ conductor['apellidos'] }}</p>
                     <small>Coche: {{ conductor['coche'] }} </small>
                   </div>
               </a>

               {% if pasajeros %}
               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">Pasajeros </h3>
               </div>
               {% for pasajero in pasajeros %}
               <div class="list-group-item list-group-item-action flex-column align-items-start">
                     <div class="card card-body">
                       <p>{{ pasajero['nombre'] }} {{ pasajero['apellidos'] }}</p>
                     </div>
               </div>
               {% endfor %}
               {% endif %}



            </div>




         </div>
      </div>
   </div>
</section>

<!-- SCRIPTS
      ================================================== -->
<script src="static/assets/js/jquery.js"></script>
<script src="static/assets/js/plugins.js"></script>
<script src="static/contact/topvalidate.js"></script>
<script src="static/contact/bottomvalidate.js"></script>

</body>

</html>