{% extends 'navbar.html' %}

{% block head %}
{{ super() }}
<title>Viaje</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDznNAUPqKZhq9Czvpzq3Nl8ppJOd0L_XI&callback=initMap&v=weekly"
   defer></script>
<style type="text/css">
   #map {
      height: 50%;
      width: 50%;
      margin: 0 auto;
   }

   html,
   body {
      height: 100%;
      margin: 0;
      padding: 0;
   }
</style>
<script>
   function initMap() {
      const directionsService = new google.maps.DirectionsService();
      const directionsRenderer = new google.maps.DirectionsRenderer();
      const map = new google.maps.Map(document.getElementById("map"), {
         zoom: 7,
         center: { lat: 41.85, lng: -87.65 },
      });

      directionsRenderer.setMap(map);

      directionsService
         .route({
            origin: "{{ trayecto['origenstr'] }}",
            destination: "{{ trayecto['destinostr'] }}",
            travelMode: google.maps.TravelMode.DRIVING,
         })
         .then((response) => {
            directionsRenderer.setDirections(response);
         })
         .catch((e) => window.alert("Directions request failed due to " + status));
   }

</script>
{% endblock %}
<!-- INTRO
         ================================================== -->
{% block body %}
<section id="viaje"
   style="padding:50px 0;background-image: url(../static/images/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;"
   class="min-vh-100">
   <div class="container">
      <div class="textwidget">
         <h1 class="toptitle" style="color:#20b2aa; -webkit-text-stroke: 1px black;">
            {{trayecto['horasalida'].strftime('El %d/%m/%Y a las %H:%M') }}<br />
            {{ trayecto['origenstr'] }} ➜ {{ trayecto['destinostr'] }}<br /><br />
            <i class="fa fa-car roundicon"></i>
         </h1>

         <div class="contactstyle topform">
            <style>
               #activo {
                  color: #fff;
                  background-color: #20b2aa;
                  border-color: #20b2aa;
                  text-align: center;
               }
            </style>


            {% if trayecto['finalizado'] == 0 %}
            {% if session['username'] and session['username'] == conductor['username'] %}
            <p align="center">
               {% if trayecto['pasajeros']|length == 0 and fechahoy < trayecto['horasalida'] %} <a
                  href="/mostrar_editar_trayecto/{{ trayecto['_id'] }}">
                  <button type="button" class="btn btn-primary btn-lg">Editar</button>
                  </a>

                  {% endif %}
                  {% if fechahoy < trayecto['horasalida'] %} <a href="/borrartrayecto/{{ trayecto['_id'] }}">
                     <button type="button" onclick="return confirm('¿Estás seguro de que quieres eliminar tu viaje?')"
                        class="btn btn-danger">Borrar</button>
                     </a>
                     {% else %}
                     <a href="/finalizartrayecto/{{ trayecto['_id'] }}">
                        <button type="button"
                           onclick="return confirm('¿Estás seguro de que quieres finalizar tu viaje?')"
                           class="btn btn-dark">Finalizar</button>
                     </a>
                     {% endif %}
            </p>
            {% else %}

            {% if session['username'] and session['username'] != conductor['username'] and espasajero %}
            {% if fechahoy < trayecto['horasalida'] %} <p align="center">
               <a href="/salir_trayecto/{{ session['username'] }}/{{ trayecto['_id'] }}">
                  <button type="button" onclick="return confirm('¿Estás seguro de que quieres salir de este viaje?')"
                     class="btn btn-danger">Salir</button>
               </a>
               </p>
               {% endif %}
               {% endif %}
               {% endif %}
               {% endif %}


               <ul class="list-group">
                  <li class="list-group-item">
                     <h3 style="color:rgb(10, 124, 0);">Salida: </h3>
                     {{ trayecto['origenstr'] }}
                  </li>
                  <li class="list-group-item">
                     <h3 style="color:rgb(10, 124, 0);">LLegada: </h3>
                     {{ trayecto['destinostr'] }}
                  </li>
                  <li class="list-group-item">
                     <h3 style="color:rgb(10, 124, 0);">Fecha: </h3>
                     {{ trayecto['horasalida'] }}
                  </li>
                  <li class="list-group-item">
                     <h3 style="color:rgb(10, 124, 0);">Duracion estimada: </h3>
                     {{ duracion }}
                  </li>
                  <li class="list-group-item">
                     <h3 style="color:rgb(10, 124, 0);">Asientos disponibles: </h3>
                     {{ trayecto['numeropasajeros'] }}
                  </li>
                  <br>
                  <div id="map" style="width: 400px; height: 400px;"></div>

                  <!-- Solo para los que compran el viaje  -->
                  {% if session['username'] and trayecto['finalizado'] == 0 and session['username'] !=
                  conductor['username'] and not espasajero %}
                  <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     title="pagar trayecto">
                     <!-- Button trigger modal -->
                     <button type="button" class="list-group-item list-group-item-action active btn " id="activo"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <h3 style="color:rgb(255, 255, 255);">Precio: {{ trayecto['precio'] }} €</h3>
                     </button>
                     <!-------------------------->
                  </span>
                  {% endif %}

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                     <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h3 class="modal-title" id="exampleModalLabel" style="color:rgb(10, 124, 0);">Pagar viaje
                              </h3>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                 aria-label="Close"></button>
                           </div>
                           <form method="post" action="/anadirpasajero/{{ trayecto['_id'] }}"
                              enctype="multipart/form-data">
                              <div class="modal-body">
                                 <p>
                                 <h3>Precio : <small id="precio">{{ trayecto['precio'] }}</small> €</h3><br>
                                 Seleccione el numero de asientos:
                                 </p>
                                 <input type="number" id="asientos" name="asientos" value="1" min="1"
                                    max="{{ trayecto['numeropasajeros'] }}">
                              </div>
                              <div class="modal-footer">
                                 <div id="smart-button-container" class="flex-fill">
                                    <div style="text-align: center;">
                                       <div id="paypal-button-container"></div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </ul>

               <br>
               <div class="col">
                  <div class="row">
                     <h3 style="color:rgb(10, 124, 0);">Conductor: </h3>
                  </div>
                  <a href="/perfilId/{{ conductor['_id'] }}"
                     class="list-group-item list-group-item-action flex-column align-items-start">

                     {{ conductor['nombre'] }} {{ conductor['apellidos'] }}
                     <br>
                     <small>Coche: {{ conductor['coche'] }} </small>
                     {%if session['username'] and trayecto['finalizado'] == 1 and session['username'] !=
                     conductor['username'] and espasajero and not conductorvalorado %}
                     <a href="/valorar/{{trayecto['_id']}}/{{ conductor['_id'] }}">
                        <button type="button" class="btn btn-warning">Valorar</button>
                     </a>
                     {%endif%}

                  </a>
                  <br>
                  <br>
                  {% if pasajeros %}
                  <div class="row">
                     <h3 style="color:rgb(10, 124, 0);">Pasajeros </h3>
                  </div>
                  {% for pasajero in pasajeros %}
                  <a href="/perfilId/{{ pasajero['_id'] }}"
                     class="list-group-item list-group-item-action flex-column align-items-start">

                     {{ pasajero['nombre'] }} {{ pasajero['apellidos'] }}
                     {%if session['username'] and trayecto['finalizado'] == 1 and session['username'] ==
                     conductor['username'] %}
                     {% for v in viajerosvalorados %}
                     {% if v['viajero'] == pasajero['_id'] and not v['estavalorado'] %}
                     <a href="/valorar/{{trayecto['_id']}}/{{ pasajero['_id'] }}">
                        <button type="button" class="btn btn-warning">Valorar</button>
                     </a>
                     {% endif %}
                     {% endfor %}

                     {%endif%}


                  </a>
                  {% endfor %}
                  {% endif %}

               </div>
         </div>
      </div>
</section>

{% endblock %}
{% block footer %}
{{ super() }}
<script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=EUR"
   data-sdk-integration-source="button-factory"></script>
<script>
   function initPayPalButton() {
      paypal.Buttons({
         style: {
            shape: 'rect',
            color: 'silver',
            layout: 'horizontal',
            label: 'paypal',
         },

         createOrder: function (data, actions) {
            return actions.order.create({
               purchase_units: [{ "amount": { "currency_code": "EUR", "value": parseFloat(document.getElementById('precio').textContent) } }]
            });
         },

         onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {

               // Full available details
               console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

               // Show a success message within this page, e.g.
               const element = document.getElementById('paypal-button-container');
               element.innerHTML = '';
               element.innerHTML = '<h3>Thank you for your payment!</h3>';

               // Or go to another URL:  actions.redirect('thank_you.html');

            });
         },

         onError: function (err) {
            console.log(err);
         }
      }).render('#paypal-button-container');
   }
   initPayPalButton();
</script>
<script>
   document.getElementById('asientos').addEventListener('change', function () {
      var precio = "{{ trayecto['precio'] }}";
      document.getElementById('precio').textContent = parseFloat(precio)*parseFloat(document.getElementById('asientos').value);
   })
</script>
{% endblock %}