{% extends 'navbar.html' %}

{% block head %}
{{ super() }}
<title>Viaje</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDznNAUPqKZhq9Czvpzq3Nl8ppJOd0L_XI&callback=initMap&v=weekly"
   defer></script>
<style type="text/css">
   #map {
      height: 50%;
      width: 50%;
      margin: 0 auto;
   }

   html,
   body {
      height: 100%;
      margin: 0;
      padding: 0;
   }
</style>
<script>
   function initMap() {
      const directionsService = new google.maps.DirectionsService();
      const directionsRenderer = new google.maps.DirectionsRenderer();
      const map = new google.maps.Map(document.getElementById("map"), {
         zoom: 7,
         center: { lat: 41.85, lng: -87.65 },
      });

      directionsRenderer.setMap(map);

      directionsService
         .route({
            origin: "{{ trayecto['origen'] }}",
            destination: "{{ trayecto['destino'] }}",
            travelMode: google.maps.TravelMode.DRIVING,
         })
         .then((response) => {
            directionsRenderer.setDirections(response);
         })
         .catch((e) => window.alert("Directions request failed due to " + status));
   }

</script>
{% endblock %}
<!-- INTRO
         ================================================== -->
<!-- trayecto = json con toda la informacion de un trayecto-->
{% block body %}
<section id="home"
   style="padding:160px 0;background-image: url(static/images/fondo.jpg); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
   <div class="container">
      <div class="textwidget">
         <h1 class="toptitle" style="color:rgb(10, 124, 0);">{{ trayecto['horasalida'].strftime('El %d/%m/%Y a las
            %H:%M') }}<br />
            {{ trayecto['origen'] }} ➜ {{ trayecto['destino'] }} <br /><br /></h1>

         <div class="contactstyle topform">
            <style>
               #activo {
                  background-color: rgb(10, 124, 0);
                  border-color: rgb(10, 80, 3);
                  text-align: center;
               }
            </style>
            <ul class="list-group">
               <li class="list-group-item">
                  <h3 style="color:rgb(10, 124, 0);">SALIDA: </h3>
                  {{ trayecto['origen'] }}
               </li>
               <li class="list-group-item">
                  <h3 style="color:rgb(10, 124, 0);">LLEGADA: </h3>
                  {{ trayecto['destino'] }}
               </li>
               <li class="list-group-item">
                  <h3 style="color:rgb(10, 124, 0);">Duracion estimada: </h3>
                  {{ duracion }}
               </li>

               {{if session['username'] == conductor['username']}}
               <p><a href="/editarperfil">
                  <button>Editar</button></a>
               <a href="/eliminarusuario">
                  <button onclick="return confirm('¿Estás seguro de que desea eliminar tu trayecto?')" class="button button3">Eliminar usuario</button>
               </a>
               </p>
               
               {% else %}
               
               <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="pagar trayecto">
                  <a href="#pagartrayecto" class="list-group-item list-group-item-action active btn " id="activo"
                     aria-current="true">
                     <h3 style="color:rgb(255, 255, 255);">Precio: {{ trayecto['precio'] }} €</h3>
                  </a>
               </span>
               {% endif %}
               <div id="map" style="width: 400px; height: 400px;"></div>
            </ul>

            </br>

            <div class="col">
               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">Conductor: </h3>
               </div>
               <a href="/perfilId/{{ conductor['_id'] }}"
                  class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="card card-body">
                     <p>{{ conductor['nombre'] }} {{ conductor['apellidos'] }}</p>
                     <small>Coche: {{ conductor['coche'] }} </small>
                  </div>
               </a>
               </br>

               {% if pasajeros %}
               <div class="row">
                  <h3 style="color:rgb(10, 124, 0);">Pasajeros </h3>
               </div>
               {% for pasajero in pasajeros %}
               <a href="/perfilId/{{ pasajero['_id'] }}"
                  class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="card card-body">
                     <p>{{ pasajero['nombre'] }} {{ pasajero['apellidos'] }}</p>
                  </div>
               </a>
               {% endfor %}
               {% endif %}

            </div>
         </div>
      </div>
   </div>
</section>
<div id="map"></div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}